
<launch>
	
	<rosparam  command="load"  file="$(find pointcloud_painter)/param/pointcloud_painter.yaml"/>
	
	<node
		name    = "pointcloud_painter"
      	pkg     = "pointcloud_painter"
      	type    = "pointcloud_painter"
      	output  = "screen"
  	> 
	</node>

	<node
		name    = "painter_client"
      	pkg     = "pointcloud_painter"
      	type    = "painter_client"
      	output  = "screen"
  	> 
	</node>

	<!-- Static Transform Publishers !-->
	<node
		name    = "map_publisher"   pkg = "tf"   type = "static_transform_publisher"
      	args  	= "0 0 0 0 0 0 		/world 	/map 	100"
  	> </node>
  	<node
		name    = "sensor_tree_frame_publisher"   pkg = "tf"   type = "static_transform_publisher"
      	args  	= "0.0 0.0 1.0 0.10 0.0 0.0 		/map  /sensor_tree 	100"
  	> </node>
	<node
		name    = "target_frame_publisher"   pkg = "tf"   type = "static_transform_publisher"
      	args  	= "0.0 0.0 0.0 0.04 0.0 0.04 		/sensor_tree  /target_frame 	100"
  	> </node>
  	<node
		name    = "left_cam_frame_publisher"   pkg = "tf"   type = "static_transform_publisher"
		args 	= "0.0 0.076 -0.07 0.0 -3.14 1.57  	/target_frame  /left_camera_frame 	100"
  	> </node> 	
	<node
		name    = "right_cam_frame_publisher"   pkg = "tf"   type = "static_transform_publisher"
      	args  	= "0.0 -0.076 -0.07 0.0 0.0 -1.57  /target_frame  /right_camera_frame 		100"
  	> </node>

</launch>

<!--args  	= "0.0 0.0 0.0 3.14159 1.57 0.0  	/front_camera_body  /front_camera_frame 	100"!-->